@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
html {
    color: #2D312F;
    font-family: 'Roboto', sans-serif;
}
.app-container{
    height: 100vh;
    padding: 0 250px 0 250px;
    display: grid;
    grid-template-rows: .5fr 3fr;
    margin: 0;
}


input {
    border: none;
    border-bottom: .5px solid #C4C4C4;
    width: 200px;
    font-size: 18px;
}

textarea {
    border: none;
    border-left: .5px solid #C4C4C4;
    border-right: .5px solid #C4C4C4;
    font-size: 18px;
}

button {
    width: 80px;
    height: 30px;
    font-size: 18px;
    background-color: #062743;
    border-radius: 5px;
    border: none;
    color: #F9F9F9;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

p, textarea, input {
    line-height: 25px;
    letter-spacing: .3px;
}

/* class to hide elements */

.app-header {
    grid-row: 1;
    display: flex;
    justify-content: center;
}


.journal-container{
    grid-row: 2;
    height: 90%; 
    overflow: scroll;
}
.journal-entries-container{
    height: 100%; 
    
}

.journal-entries {
    height: 100%;
    overflow: scroll;
}
.journal-input-container {
    grid-row: 1;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-between;
    /* display: none; */
}
.sub-container{
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.journal-button-container {
    display: flex;
    justify-content: space-between;
}

.close-button {
    background-color: transparent;
    border: none;
    color: #062743;
    width: 0px;
}

.add-entry-container {
    display: flex;
    justify-content: flex-end;
}

.add-entry-button {
    justify-self: flex-end;
}

.hidden{
    display: none;
}
@media only screen and (max-width: 1000px) {
    .app-container {
        padding: 0 30px 0 30px;
    }
}